body {
  font-family: sans-serif;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }

  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
  div.image-container {
    min-width: 50%;
    max-width: 50%;
  }
}

.wiki-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wiki-item {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.wiki-content {
  padding: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*
Add some margin for the wiki-item, 
so that it would have empty space on right and left 
(margin-right and margin-left should be something else than 0px).
For example, 10px should be fine
*/
